<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Absolutify</title>
    <style>
        <%= EEx.eval_file("static/css/layout.css.eex") %>
    </style>
</head>
<body>
    <%= page %>
</body>
</html>
